body {
	background:"white";
}

header {
	width: 100%;
   height: 250px; 
   background:url('http:// greendata.github.io./Header_Pic.jpg) repeat-x center top;
}

nav {
	list-style: none;
  margin: 0 2px;
  padding: 0;
  display: flex;
  justify-content: space-around;
	background: black;
	font-size: 125%
}

