
body {
  background: #daffb3;
}

header {
     width:100%;
     background-image:url(greendata.github.io./Header Pic.jpg);

nav {
	list-style: none;
  margin: 0 2px;
  padding: 0;
  display: flex;
  justify-content: space-around;
	background: black;
	font-size: 125%
}
